@import 'config';
@import 'breakpoints';
@import 'layout';
@import 'functions';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Varela Round', sans-serif;
    background: $backgorund-color;
}